<div class="container-fluid" id="doors-control">
    <script>
        $("#doors-control").hide();

    </script>
    <div class="row">
        <div class="col-sm-12">
            <div class="card p-2 mb-4" style="margin:0 !important;">
                <h4 style="text-align: center; color:#365899 ">Doors Control</h4>
            </div>
        </div>
    </div>
    <div class="row" data-unit-group="switch-lights-in">
        <div id="doors-detail" style="width: 100%">

        </div>
    </div>
    <script>
        $("#module").hide();
        $("#detail").click(function() {
            $("#module").show(150);
        })

    </script>
</div>
