<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!--<meta name="author" content="Jozef Dvorský - creatingo.com">-->
    <title>SMARTHOME-WEBSOCKET</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type=”text/javascript” src=”http://code.jquery.com/jquery-2.0.3.min.js”></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap CSS with custom theme variables + Additional styles for this template -->
    <link href="/stylesheets/iot-theme-bundle.min.css" rel="stylesheet">

    <!-- Bootstrap bundle -->
    <script src="http://192.168.0.106:3000/socket.io/socket.io.js"></script>
    <!--    <script src="http://192.168.43.19:3000/socket.io/socket.io.js"></script>-->
    <!--    <script src="http://192.168.1.13:3000/socket.io/socket.io.js"></script>-->
    <script type="text/javascript" src="/javascripts/connect.js"></script>
    <script type="text/javascript" src="/javascripts/web-demo.js"></script>
    <script type="text/javascript" src="/javascripts/loadDevices.js"></script>
    <script type="text/javascript" src="/javascripts/load-light.js"></script>
    <script type="text/javascript" src="/javascripts/load-door.js"></script>
    <script type="text/javascript" src="/javascripts/load-camera.js"></script>
    <script type="text/javascript" src="/javascripts/control-light.js"></script>
    <script type="text/javascript" src="/javascripts/control-door.js"></script>
</head>
