<!DOCTYPE html>
<html lang="en">

<%include head%>

    <body class="pt-0" style="height:auto;">
        <div class="d-flex align-items-center pb-4" method="post">


            <div class="row mx-auto" style="width:100%;max-width:24rem;">
                <%include login%>
                    <%include singup%>
                        <%include forgetpass%>
            </div>


        </div>

    </body>

</html>
