<div class="container-fluid" id="lights-control">
    <script>
        $("#lights-control").hide();

    </script>
    <div class="row">
        <div class="col-sm-12">
            <div class="card p-2 mb-4" style="margin:0 !important;">
                <h4 style="text-align: center; color:#365899 ">Lights Control</h4>
            </div>
        </div>
    </div>
    <div class="row" data-unit-group="switch-lights-in">
        <div id="lights-detail" style="width: 100%">

        </div>

    </div>

</div>
